.banner {
  color: white;
 display: flex;
  align-items: center;
  justify-content: space-between;
  transition-property: transform;
  background-color: #15212f;
    margin: auto;
  width: 100%;
  height:90vh;

}
.banner-image{
 
  padding-top: 100px;

}

.banner_contents {

}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
/*.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgb(8, 8, 3), #111);
}
*/
.title {
  text-align: center;
  color: white;
  max-width: 640px;
  font-size: 2rem;
  font-weight: 500;
  margin: auto;
}

.text {
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 18px;
  }
}
